<div style="font-family:arial; font-size:12px;">
    <br/>
        {{order.orderCustomer.salutation.letterName }} {{order.orderCustomer.firstName}} {{order.orderCustomer.lastName}},<br/>
        <br/>
        Thank you for your order at {{ order.salesChannel.name }} (Number: {{order.orderNumber}}) on {{ order.orderDateTime|date }}.<br/>
        The status of this order at {{ order.salesChannel.name }} (Number: {{order.orderNumber}}) on {{ order.orderDateTime|date }} has changed.<br/>
        <strong>The new status is as follows: {{order.transactions.first.stateMachineState.name}}.</strong><br/>
        <br/>
        <strong>Information on your order:</strong><br>
        <br>

    <table width="80%" border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
        <tr>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Pos.</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Description</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Codes</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Quantities</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Price</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Total</strong></td>
        </tr>

        {% for lineItem in order.lineItems %}
            <tr>
                <td style="border-bottom:1px solid #cccccc;">{{ loop.index }} </td>
                <td style="border-bottom:1px solid #cccccc;">
                    {{ lineItem.label|u.wordwrap(80) }}<br>
                    {% if lineItem.payload.productNumber is defined %}Art. No.: {{ lineItem.payload.productNumber|u.wordwrap(80) }}{% endif %}
                </td>
                <td style="border-bottom:1px solid #cccccc;">
                    {% set foundVoucher = 0 %}
                    {% for voucher in vouchers %}
                        {% if voucher.orderLineItemId == lineItem.id %}
                            {{ voucher.code }}
                            {% set foundVoucher = foundVoucher + 1 %}
                            {% if foundVoucher < lineItem.quantity %}<br>{% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="border-bottom:1px solid #cccccc;">{{ lineItem.quantity }}</td>
                <td style="border-bottom:1px solid #cccccc;">{{ lineItem.unitPrice|currency(order.currency.isoCode) }}</td>
                <td style="border-bottom:1px solid #cccccc;">{{ lineItem.totalPrice|currency(order.currency.isoCode) }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
    <br><br>
    Net total: {{ order.amountNet|currency(order.currency.isoCode) }}<br>
    {% for calculatedTax in order.price.calculatedTaxes %}
        {% if order.taxStatus is same as('net') %}plus{% else %}including{% endif %} {{ calculatedTax.taxRate }}% VAT. {{ calculatedTax.tax|currency(order.currency.isoCode) }}<br>
    {% endfor %}
    <strong>Total gross: {{ order.amountTotal|currency(order.currency.isoCode) }}</strong><br><br>
    If you have any questions, do not hesitate to contact us.
    </p>
</div>