{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box %}
    {% if merchant %}
        {% set name = merchant.publicCompanyName %}
        {% set id = merchant.id %}
        {% set cover = merchant.cover %}

        <div class="card product-box box-{{ layout }}">
            {% block component_product_box_content %}
                <div class="card-body">
                    {% block component_merchant_box_image %}
                        <div class="product-image-wrapper">
                            {# fallback if display mode is not set #}
                            {% set displayMode = displayMode ?: 'standard' %}

                            {# set display mode 'cover' for box-image with standard display mode #}
                            {% if layout == 'image' and displayMode == 'standard' %}
                                {% set displayMode = 'cover' %}
                            {% endif %}

                            <a href="{{ seoUrl('storefront.merchant.detail', {'id': id}) }}"
                               title="{{ name }}"
                               class="product-image-link is-{{ displayMode }}">
                                {% if cover.url %}
                                    {% set attributes = {
                                        'class': 'product-image is-'~displayMode,
                                        'alt': (cover.translated.alt ?: name),
                                        'title': (cover.translated.title ?: name)
                                    } %}

                                    {% if displayMode == 'cover' or displayMode == 'contain' %}
                                        {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                                    {% endif %}

                                    {% sw_thumbnails 'product-image-thumbnails' with {
                                        media: cover,
                                        sizes: {
                                            'xs': '501px',
                                            'sm': '315px',
                                            'md': '427px',
                                            'lg': '333px',
                                            'xl': '284px'
                                        }
                                    } %}
                                {% else %}
                                    <div class="product-image-placeholder">
                                        {% sw_icon 'placeholder' style {
                                            'size': 'fluid'
                                        } %}
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {% endblock %}

                    {% block component_merchant_box_info %}
                        <div class="product-info">
                            {% block component_merchant_box_name %}
                                <a href="{{ seoUrl('storefront.merchant.detail', {'id': id}) }}"
                                   class="product-name"
                                   title="{{ name }}">
                                    {{ name }}
                                </a>
                            {% endblock %}

                            {% block component_merchant_box_description %}
                                <div class="product-description">
                                    {{ merchant.publicDescription|striptags|raw }}
                                </div>
                            {% endblock %}

                            {% block component_merchant_box_action %}
                                <a href="{{ seoUrl('storefront.merchant.detail', {'id': id}) }}"
                                   class="btn btn-block btn-light"
                                   title="{{ "listing.boxProductDetails"|trans|striptags }}">
                                    {{ "listing.boxProductDetails"|trans|sw_sanitize }}
                                </a>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
