{% block element_merchant_listing %}
    {% set currentPage = ((searchResult.criteria.offset + 1) / searchResult.criteria.limit )|round(0, 'ceil') %}
    {% set paginationConfig = { page: currentPage }|json_encode %}
    <div class="cms-element-product-listing-wrapper"
         data-listing-pagination="true"
         data-listing-pagination-options='{{ paginationConfig }}'
         data-listing="true"
         data-listing-options='{
            "sidebar": "{{ sidebar }}",
            "params": {{ params|json_encode }},
            "dataUrl": "{{ dataUrl }}",
            "filterUrl": "{{ filterUrl }}",
            "snippets": {
            "resetAllButtonText": "{{ 'listing.filterPanelResetAll'|trans|sw_sanitize }}"
            }
        }'>
        <div class="cms-element-product-listing">
            {% if searchResult.total > 0 %}
                {% block element_merchant_listing_pagination_nav_actions %}
                    <div class="cms-element-product-listing-actions row justify-content-between">
                        <div class="col-md-auto">
                            {% block element_merchant_listing_pagination_nav_top %}
                                {% sw_include '@Storefront/storefront/component/pagination.html.twig' with {
                                    entities: searchResult,
                                    criteria: searchResult.criteria
                                } %}
                            {% endblock %}
                        </div>

                        <div class="col-md-auto">
                            {% block element_merchant_listing_sorting %}
                                {% sw_include '@Storefront/storefront/component/sorting.html.twig' with { current: searchResult.sorting, sortings: searchResult.sortings } %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            {% endif %}

            <div class="row cms-listing-row js-listing-wrapper">
                {% for merchant in searchResult %}
                    <div class="cms-listing-col col-sm-6 col-lg-4">
                        {% block element_merchant_listing_box %}
                            {% sw_include '@Storefront/storefront/component/merchant/card/box-standard.html.twig' with {
                                'merchant': merchant
                            } %}
                        {% endblock %}
                    </div>
                {% endfor %}
            </div>

            {% if searchResult.total > searchResult.limit %}
                {% block element_merchant_listing_pagination_nav_bottom %}
                    {% sw_include '@Storefront/storefront/component/pagination.html.twig' with {
                        entities: searchResult,
                        criteria: searchResult.criteria
                    } %}
                {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}
