{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1>{{ "localDelivery.page.register.pageTitle"|trans }}</h1>

    {% if errors %}
        <div class="error-message-container alert alert-error">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{{ path('delivery.boy.register') }}"
          method="post"
          data-form-csrf-handler="true">

        {{ sw_csrf('delivery.boy.register') }}

        <div class="form-row">
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.title"|trans }}</span>
                <input type="text" name="title" value="{% if data %}{{ data.title }}{% endif %}">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.firstname"|trans }}</span>
                <input type="text" name="firstname" value="{% if data %}{{ data.firstname }}{% endif %}">
            </label>
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.lastname"|trans }}</span>
                <input type="text" name="lastname" value="{% if data %}{{ data.lastname }}{% endif %}">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.street"|trans }}</span>
                <input type="text" name="street" value="{% if data %}{{ data.street }}{% endif %}">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.email"|trans }}</span>
                <input type="email" name="email" value="{% if data %}{{ data.email }}{% endif %}">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.zipcode"|trans }}</span>
                <input type="number" name="zipcode" value="{% if data %}{{ data.zipcode }}{% endif %}">
            </label>
            <label>City
                <input type="text" name="city">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.phonenumber"|trans }}</span>
                <input type="number" name="phone_number" value="{% if data %}{{ data.phone_number }}{% endif %}">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.password"|trans }}</span>
                <input type="password" name="password">
            </label>
            <label>
                <span class="local-delivery-label">{{ "localDelivery.page.register.passwordConfirm"|trans }}</span>
                <input type="password" name="password_confirm">
            </label>
        </div>

        <div class="form-row">
            <button type="submit">{{ "localDelivery.page.register.submit"|trans }}</button>
        </div>
    </form>
{% endblock %}
