{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <div class="row">
        <div class="col-8">
            <h4>{{ page.merchant.publicCompanyName }}</h4>
            <p>
                {{ page.merchant.publicOpeningTimes}}
            </p>
            <p>
                {{ page.merchant.publicDescription}}
            </p>
        </div>
        <div class="col-4">
            <h4>{{ 'merchant.contactInformation'|trans }}</h4>

            <div class="row">
                <div class="col-6">
                    {% if page.merchant.street %}
                    <p>
                        <strong>{{ 'merchant.address'|trans }}</strong><br>
                        {{ page.merchant.street }}<br>
                        {{ page.merchant.zip }} {{ page.merchant.city }}<br>
                        {{ page.merchant.country.translated.name }}
                    </p>
                    {% endif %}
                    {% if page.merchant.publicWebsite %}
                    <p><strong>{{ 'merchant.website'|trans }}</strong><br>
                        <a href="{{ page.merchant.publicWebsite }}">{{ page.merchant.publicWebsite }}</a></p>
                    {% endif %}
                    {% if page.merchant.publicEmail %}
                    <p><strong>{{ 'merchant.email'|trans }}</strong><br>
                        {{ page.merchant.publicEmail }}</p>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if page.merchant.phoneNumber %}
                    <p><strong>{{ 'merchant.phoneNumber'|trans }}</strong><br>
                        {{ page.merchant.publicPhoneNumber }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if page.merchant.products.count %}
        <h4>{{ 'merchant.ourProducts'|trans }}</h4>

        {% set config = {
            'title': {
                'value': null
            },
            'border': {
                'value': false
            },
            'rotate': {
                'value': false
            },
            'products': {
                'value': page.merchant.products
            },
            'boxLayout': {
                'value': 'standard'
            },
            'elMinWidth': {
                'value': '300px'
            },
            'navigation': {
                'value': true
            },
            'displayMode': {
                'value': 'minimal'
            },
            'verticalAlign': {
                'value': 'top'
            },
        } %}

        {% sw_include "@Storefront/storefront/element/cms-element-product-slider.html.twig" with {
            sliderConfig: config,
            element: {
                'data': {
                    'products': {
                        elements: page.merchant.products
                    }
                },
                type: 'product-slider'
            }
        } only %}
    {% endif %}

{% endblock %}

{% block base_footer_inner %}
    {% sw_include '@Storefront/storefront/component/merchant/banner.html.twig' %}
    {{ parent() }}
{% endblock %}
