{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_inner %}
    <div class="row fullsize{% if not page.merchant.publicDescription %} no-description{% endif %}" id="merchant-header-banner">

        {% if page.merchant.cover.thumbnails.first.url is not defined %}
            <div class="container">
        {% endif %}

        {# Image #}
        {% if page.merchant.cover.thumbnails.first.url %}
            <div class="col-12 col-md-4 col-lg-6 merchant-image">
                <img src="{{ page.merchant.cover.thumbnails.first.url }}" />
            </div>
        {% endif %}

        <div class="col-12 col-md-8 col-lg-6 merchant-information">
            <div class="row merchant-information--row">

                {# Intro #}
                <div class="col-12">
                    <h1>{{ page.merchant.publicCompanyName }}</h1>
                    <p><i>{{ 'merchant.publicOwner'|trans }}: {{ page.merchant.publicOwner }}</i></p>
                </div>

                {# Contact information #}
                <div class="col-12">
                    <ul class="contact-information">

                        {# Phone #}
                        {% if page.merchant.publicPhoneNumber %}
                            <li>
                                <span class="icon-holder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <path fill="#798490" fill-rule="evenodd" d="M6.2778801,6.11976467 C6.67888555,6.80453516 7.2277123,7.49687905 7.92616782,8.19533457 C8.62462334,8.89379009 9.31696723,9.44261684 10.0017377,9.84362229 L10.9833588,8.86200124 C11.1996711,8.64568896 11.5354433,8.60435351 11.7977605,8.76174381 L15.1310938,10.7617438 C15.446814,10.9511759 15.5491907,11.3606828 15.3597586,11.6764029 L14.1095856,13.7600245 C13.478049,14.8125854 12.2095793,15.2980774 11.0366636,14.9361495 C8.85929339,14.264276 6.84040562,12.9951905 4.98335878,11.1381436 C3.19348236,9.3482672 1.81947458,7.27803357 0.864239305,4.93185657 C0.308864099,3.56782499 0.964425833,2.01183518 2.32847064,1.45647055 C2.38190607,1.43471456 2.43603347,1.41469844 2.49076739,1.39645381 L4.57727812,0.700950227 C4.87370918,0.602139876 5.19899628,0.722471406 5.35975859,0.990408589 L7.35975859,4.32374192 C7.51714889,4.58605909 7.47581344,4.92183133 7.25950116,5.13814361 L6.2778801,6.11976467 Z M13.8734375,11.5620705 L11.5581063,10.1728718 L10.5928345,11.1381436 C10.3899276,11.3410505 10.0799467,11.3913534 9.82328757,11.2630239 C8.86608694,10.7844236 7.92029413,10.075079 6.98335878,9.13814361 C6.04642343,8.20120826 5.33707882,7.25541545 4.85847851,6.29821482 C4.73014895,6.04155572 4.78045194,5.73157475 4.98335878,5.52866791 L5.94863059,4.5633961 L4.49157728,2.13497391 L2.91240441,2.66136487 C2.88503734,2.67048723 2.85797352,2.68049533 2.8312557,2.69137337 C2.14923201,2.96905621 1.8214519,3.7470493 2.0991396,4.42906531 C2.98734091,6.61059854 4.2620482,8.53121494 5.92616782,10.1953346 C7.63528865,11.9044554 9.46871347,13.0569578 11.4298007,13.6620926 C12.0162586,13.8430566 12.6504934,13.6003106 12.9662617,13.0740301 L13.8734375,11.5620705 Z"/>
                                    </svg>
                                </span>
                                <span class="contact-information--content">{{ page.merchant.publicPhoneNumber }}</span>
                            </li>
                        {% endif %}

                        {# Mail #}
                        {% if page.merchant.publicEmail %}
                            <li>
                                <span class="icon-holder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12">
                                        <path fill="#798490" fill-rule="evenodd" d="M2.49586244,3.33333333 L7.23538354,6.6509981 C7.69447708,6.97236358 8.30552292,6.97236358 8.76461646,6.6509981 L13.5041376,3.33333333 L2.49586244,3.33333333 Z M14.6666667,4.14710371 L9.52923292,7.74330733 C8.61104585,8.38603828 7.38895415,8.38603828 6.47076708,7.74330733 L1.33333333,4.14710371 L1.33333333,12 C1.33333333,12.3681898 1.63181017,12.6666667 2,12.6666667 L14,12.6666667 C14.3681898,12.6666667 14.6666667,12.3681898 14.6666667,12 L14.6666667,4.14710371 L14.6666667,4.14710371 Z M2,2 L14,2 C15.1045695,2 16,2.8954305 16,4 L16,12 C16,13.1045695 15.1045695,14 14,14 L2,14 C0.8954305,14 0,13.1045695 0,12 L0,4 C0,2.8954305 0.8954305,2 2,2 Z" transform="translate(0 -2)"/>
                                    </svg>
                                </span>
                                <span class="contact-information--content"><a href="mailto:{{ page.merchant.publicEmail }}">{{ page.merchant.publicEmail }}</a></span>
                            </li>
                        {% endif %}

                        {# Website #}
                        {% if page.merchant.publicWebsite %}
                            <li>
                                <span class="icon-holder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16">
                                        <path fill="#798490" fill-rule="evenodd" d="M8,10.6666667 C10.5773288,10.6666667 12.6666667,8.57732883 12.6666667,6 C12.6666667,3.42267117 10.5773288,1.33333333 8,1.33333333 C5.42267117,1.33333333 3.33333333,3.42267117 3.33333333,6 C3.33333333,8.57732883 5.42267117,10.6666667 8,10.6666667 Z M8.66666667,13.9726175 L8.66666667,14.6666667 L10,14.6666667 C10.3681898,14.6666667 10.6666667,14.9651435 10.6666667,15.3333333 C10.6666667,15.7015232 10.3681898,16 10,16 L6,16 C5.63181017,16 5.33333333,15.7015232 5.33333333,15.3333333 C5.33333333,14.9651435 5.63181017,14.6666667 6,14.6666667 L7.33333333,14.6666667 L7.33333333,13.9725143 C5.44212107,13.8160346 3.68978552,12.9973798 2.35616899,11.6698477 C2.09522487,11.4100942 2.09425976,10.9879853 2.35401334,10.7270412 C2.61376692,10.4660971 3.0358758,10.4651319 3.29681992,10.7248855 C4.53851476,11.9609153 6.21257906,12.6666667 8,12.6666667 C11.6818983,12.6666667 14.6666667,9.68189833 14.6666667,6 C14.6666667,4.22106504 13.9676471,2.55429911 12.7420209,1.31409636 C12.4832149,1.05221238 12.4857102,0.63010977 12.7475941,0.371303796 C13.0094781,0.112497821 13.4315807,0.11499304 13.6903867,0.376877024 C15.1602257,1.86419695 16,3.86658342 16,6 C16,10.1937758 12.7730203,13.6338502 8.66666667,13.9726175 L8.66666667,13.9726175 Z M8,12 C4.6862915,12 2,9.3137085 2,6 C2,2.6862915 4.6862915,0 8,0 C11.3137085,0 14,2.6862915 14,6 C14,9.3137085 11.3137085,12 8,12 Z" transform="translate(-2)"/>
                                    </svg>
                                </span>
                                <span class="contact-information--content"><a href="{{ page.merchant.publicWebsite }}">{{ page.merchant.publicWebsite }}</a></span>
                            </li>
                        {% endif %}

                        {# Address #}
                        {% if page.merchant.street %}
                            <li>
                                <span class="icon-holder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16">
                                        <path fill="#798490" fill-rule="evenodd" d="M6.66599533,15.7542299 C6.63946757,15.7860895 6.61009167,15.8154654 6.57823205,15.8419932 C6.28860545,16.0831494 5.85832093,16.0438565 5.61716467,15.7542299 C1.87238992,11.2567771 0,7.97024514 0,5.89462972 C0,2.63911562 2.88607024,0 6.14158434,0 C9.39709844,0 12.2831687,2.63911562 12.2831687,5.89462972 C12.2831687,7.9702458 10.4107776,11.2567792 6.66599533,15.7542299 Z M10.9183722,5.89462972 C10.9183722,3.45510477 8.70708273,1.36479652 6.14158434,1.36479652 C3.57608595,1.36479652 1.36479652,3.45510477 1.36479652,5.89462972 C1.36479652,7.45805325 2.94694484,10.3142285 6.14158449,14.2436922 C9.33621958,10.3142362 10.9183722,7.45805539 10.9183722,5.89462972 Z M6.14158434,7.50638086 C5.38782804,7.50638086 4.77678782,6.89534064 4.77678782,6.14158434 C4.77678782,5.38782804 5.38782804,4.77678782 6.14158434,4.77678782 C6.89534064,4.77678782 7.50638086,5.38782804 7.50638086,6.14158434 C7.50638086,6.89534064 6.89534064,7.50638086 6.14158434,7.50638086 Z"/>
                                    </svg>
                                </span>
                                <span class="contact-information--content">
                                    {{ page.merchant.street }}<br>
                                    {{ page.merchant.zip }} {{ page.merchant.city }}<br>
                                    {{ page.merchant.country.translated.name }}
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                {# Opening Hours #}
                {% if page.merchant.publicOpeningTimes %}
                    <div class="col-12">
                        <p class="opening-times"><strong>{{ 'merchant.openingTimes'|trans }}</strong><br>
                            {{ page.merchant.publicOpeningTimes|nl2br }}
                        </p>
                    </div>
                {% endif %}

            </div>
        </div>

        {% if page.merchant.cover.thumbnails.first.url is not defined %}
            </div>
        {% endif %}
    </div>

    {{ parent() }}
{% endblock %}

{% block base_content %}
    {% if page.merchant.publicDescription %}
        <div class="row merchant-description">
            <div class="col-12">
                <div class="merchant-description--holder">
                    <h2 class="text-headline">{{ 'merchant.description'|trans }}</h2>
                    <p>{{ page.merchant.publicDescription|nl2br }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.merchant.products.count %}
        <h4>{{ 'merchant.ourProducts'|trans }}</h4>

        {% set config = {
            'title': {
                'value': null
            },
            'border': {
                'value': false
            },
            'rotate': {
                'value': false
            },
            'products': {
                'value': page.merchant.products
            },
            'boxLayout': {
                'value': 'standard'
            },
            'elMinWidth': {
                'value': '300px'
            },
            'navigation': {
                'value': true
            },
            'displayMode': {
                'value': 'minimal'
            },
            'verticalAlign': {
                'value': 'top'
            },
        } %}

        {% sw_include "@Storefront/storefront/element/cms-element-product-slider.html.twig" with {
            sliderConfig: config,
            element: {
                'data': {
                    'products': {
                        elements: page.merchant.products
                    }
                },
                type: 'product-slider'
            }
        } only %}
    {% endif %}

{% endblock %}

{% block base_footer_inner %}
    {% sw_include '@Storefront/storefront/component/merchant/banner.html.twig' %}
    {{ parent() }}
{% endblock %}
