{% sw_extends '@Storefront/storefront/utilities/icon.html.twig' %}

{% block utilities_icon %}
    {% set styles = [ size, color, rotation, flip, class ] %}
    {% if pack == 'feather' %}
        <span class="icon icon-feather-{{ name }}{% for entry in styles %}{% if entry != "" %} icon-{{ entry }}{% endif %}{% endfor %}">
            {{ source('@PortalBundle/../public/assets/icon/feather/'~ name ~'.svg', ignore_missing = true) }}
        </span>
    {% elseif pack == 'sw-icon-kit' %}
        <span class="icon icon-sw-icon-kit-{{ name }}{% for entry in styles %}{% if entry != "" %} icon-{{ entry }}{% endif %}{% endfor %}">
            {{ source('@PortalBundle/../public/assets/icon/sw-icon-kit/'~ name ~'.svg', ignore_missing = true) }}
        </span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
